.carousel-slide:focus {
  outline: none;
}

.carousel{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots li button:before {
  color: white; /* Altera a cor das bolinhas para branco */
}

.slick-dots li.slick-active button:before {
  color: red; /* Altera a cor da bolinha selecionada para vermelho */
}
